.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Montserrat, sans-serif;
  color: #141414;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 4em;
  line-height: 0.9em;
  font-weight: 900;
  text-transform: uppercase;
}

p {
  margin-bottom: 10px;
  font-size: 1.2em;
}

a {
  text-decoration: underline;
}

.center-w3 {
  max-width: 830px;
  margin-right: auto;
  margin-left: auto;
}

.p-xl-start {
  padding-top: 6.5em;
}

.p-sm-start {
  padding-top: 2.25em;
}

.nav-items {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
}

.container-w1 {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.container-w1.cent {
  max-width: 100%;
  margin-top: 0vh;
}

.text-center {
  text-align: center;
}

.nav-link {
  display: block;
  padding-top: 1vh;
  padding-bottom: 1vh;
  -webkit-transition: all 200ms cubic-bezier(.175, .885, .32, 1.275);
  transition: all 200ms cubic-bezier(.175, .885, .32, 1.275);
  color: #000;
  font-size: 4.5vw;
  line-height: 1;
  letter-spacing: 0.05em;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  color: #fff;
}

.nav-link.btn {
  margin-top: 2vh;
  padding: 0.6em 0.9em;
  border-radius: 999em;
  background-color: #fff;
  font-size: 3vw;
}

.nav-link.btn:hover {
  color: #000;
}

.title2 {
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 2.5em;
  line-height: 1.2em;
  font-weight: 400;
}

.p-xs-start {
  padding-top: 1em;
}

.nav-wrapper {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 10;
  display: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  font-family: Montserrat, sans-serif;
  font-weight: 800;
}

.nav-wrapper.w--open {
  background-color: transparent;
}

.close-btn-wrapper {
  position: fixed;
  left: auto;
  top: 40px;
  right: 45px;
  bottom: auto;
  z-index: 5;
  padding: 5px;
  border-radius: 999em;
  background-color: #000;
  opacity: 1;
  -webkit-transition: all 200ms cubic-bezier(.175, .885, .32, 1.275);
  transition: all 200ms cubic-bezier(.175, .885, .32, 1.275);
  color: #000;
  text-decoration: none;
}

.close-btn-wrapper:hover {
  background-color: #000;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.close-btn-wrapper:active {
  background-color: #000;
}

.p-xl-end {
  padding-bottom: 6.5em;
}

.main-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: #000;
}

.nav-gradient-bg {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle closest-corner at 50% 0%, #729fe9 4%, #ce99cc 49%, rgba(175, 112, 173, 0) 87%), radial-gradient(circle farthest-side at 100% 0%, #c03d5f 2%, rgba(232, 135, 151, 0.31) 31%, rgba(232, 135, 151, 0) 45%), radial-gradient(circle farthest-side at 0% 0%, #e04c73, rgba(248, 124, 98, 0) 30%), radial-gradient(circle farthest-side at 50% 100%, #ffdfab, #ffa675 43%, #f36f85);
}

.page-wrapper {
  position: relative;
  z-index: 0;
  width: auto;
  height: auto;
  max-height: none;
  min-height: 92vh;
  background-color: #fce3d4;
  -o-object-fit: fill;
  object-fit: fill;
}

.page-wrapper.scroll1 {
  background-color: #ffe3d4;
}

.gutter-outside {
  padding-right: 40px;
  padding-left: 40px;
}

.logo-wrapper {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-toggle-text {
  z-index: 1;
  font-size: 1.3em;
  line-height: 1;
  font-weight: 700;
}

.main-nav-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 8vh;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo {
  color: #fce3d4;
  font-size: 1.6em;
  font-weight: 800;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.copy-medium {
  font-size: 1.5em;
  line-height: 1.2em;
  font-weight: 500;
}

.bg-noise {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/noise.png');
  background-position: 0px 0px;
  background-size: auto;
  opacity: 0.3;
}

.position-relative {
  position: relative;
  z-index: 1;
}

.nav-toggle-btn {
  padding: 7px;
}

.icon {
  color: #fce3d4;
  font-size: 30px;
}

.icon:hover {
  color: #1b2fc4;
}

.icon:active {
  color: #ff9359;
}

.heading {
  margin-top: 0vh;
  margin-bottom: 15px;
  color: #fce3d4;
  font-size: 3.5em;
  text-align: left;
}

.heading.pagehead {
  margin: 0px 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: left;
}

.section {
  height: auto;
  min-height: 92vh;
  background-color: #fce3d4;
  -o-object-fit: fill;
  object-fit: fill;
}

.heading-2 {
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  letter-spacing: 4px;
}

.text-block {
  max-width: 50%;
  margin-top: 10px;
  margin-right: 30px;
  margin-left: 30px;
  padding-right: 140px;
  padding-left: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 23px;
  line-height: 30px;
  text-align: left;
}

.image {
  position: static;
  width: 100%;
  height: 400px;
  max-height: none;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  border-radius: 0px;
  -o-object-fit: cover;
  object-fit: cover;
}

.body {
  background-color: #000;
}

.body-2 {
  background-color: #ffe3d4;
}

.grid {
  margin-right: 16px;
  margin-left: 16px;
  padding-bottom: 10px;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 10px 1fr;
  grid-template-rows: 1fr 1fr;
}

.image-2 {
  -o-object-fit: cover;
  object-fit: cover;
}

.container {
  -o-object-fit: fill;
  object-fit: fill;
}

.heading-3 {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 26px;
  text-align: center;
}

.list-item {
  margin: 25px 16px;
}

.subsection {
  text-decoration: none;
}

.div-block {
  width: 50%;
  min-height: 92vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.div-block-2 {
  background-image: url('../images/cover-full-screen-nav.gif');
  background-position: 0px 0px;
  background-size: cover;
}

.div-block-3 {
  background-image: url('../images/IMG_0941.JPG');
  background-position: 0px 0px;
  background-size: cover;
}

.list-2 {
  list-style-type: none;
}

.list-item-2 {
  min-width: 100%;
}

.div-block-4 {
  min-height: 92vh;
  background-color: transparent;
}

.slider {
  min-height: 92vh;
  background-color: #000;
}

.heading-7 {
  position: fixed;
  top: 0px;
  z-index: auto;
  max-width: 20vw;
  margin-top: 15vh;
  margin-bottom: 0px;
  margin-left: 80px;
  color: #fce3d4;
  font-size: 3em;
  text-align: left;
}

.image-3 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: -1;
  max-height: 46vh;
  max-width: 50vw;
  min-height: 46vh;
  min-width: 50vw;
  margin-left: 0px;
  -o-object-fit: cover;
  object-fit: cover;
}

.icon-2 {
  color: #fce3d4;
}

.icon-3 {
  color: #fce3d4;
}

.tabs {
  min-height: 92vh;
}

.image-4 {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  z-index: -1;
  max-height: 46vh;
  max-width: 50vw;
  min-height: 46vh;
  min-width: 50vw;
  -o-object-fit: cover;
  object-fit: cover;
}

.image-6 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: -1;
  max-height: 46vh;
  max-width: 50vw;
  min-height: 46vh;
  min-width: 50vw;
  -o-object-fit: cover;
  object-fit: cover;
}

.image-7 {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  width: 25vw;
  max-height: 46vh;
  max-width: none;
  min-height: 46vh;
  min-width: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.image-8 {
  position: absolute;
  left: 50vw;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  width: 25vw;
  max-height: 46vh;
  max-width: none;
  min-height: 46vh;
  min-width: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.image-9 {
  position: absolute;
  left: auto;
  top: 113px;
  right: 5%;
  bottom: 0%;
  max-height: 60vh;
  max-width: 65vw;
  min-height: auto;
  min-width: 65vw;
  border-radius: 0px;
  -o-object-fit: contain;
  object-fit: contain;
}

.paragraph {
  position: fixed;
  max-width: 20vw;
  margin-top: 30vh;
  margin-left: 80px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fce3d4;
}

.image-10 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 10%;
  bottom: 0%;
  max-height: 92vh;
  max-width: 55vw;
  min-height: 92vh;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

.slider-2 {
  max-height: 92vh;
  min-height: 92vh;
}

.heading-8 {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  height: auto;
  max-height: 8vh;
  max-width: none;
  min-height: auto;
  min-width: auto;
  margin-top: 41vh;
  margin-bottom: 0px;
  clear: both;
  color: #fce3d4;
  font-size: 5em;
  text-align: center;
  -o-object-fit: contain;
  object-fit: contain;
}

.grid-2 {
  position: absolute;
  left: 7.5%;
  top: 0%;
  right: 7.5%;
  bottom: 0%;
  max-width: 85vw;
  -ms-grid-columns: 0.75fr 1.25fr;
  grid-template-columns: 0.75fr 1.25fr;
  -ms-grid-rows: 92vh;
  grid-template-rows: 92vh;
}

.image-11 {
  position: relative;
  top: auto;
  margin-top: 0vh;
  -o-object-fit: fill;
  object-fit: fill;
}

.paragraph-2 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #fce3d4;
}

.heading-9 {
  color: #fce3d4;
}

.heading-10 {
  margin-top: 0vh;
  color: #fce3d4;
}

.button {
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #fce3d4;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-weight: 700;
}

.grid-3 {
  max-width: 85vw;
  min-width: auto;
  margin-right: 7.5vw;
  margin-left: 7.5vw;
  grid-column-gap: 20px;
  grid-row-gap: 16px;
  -ms-grid-rows: 92vh;
  grid-template-rows: 92vh;
  background-color: #000;
}

.paragraph-3 {
  margin-right: 0px;
  margin-bottom: 18px;
  padding-right: 20px;
  padding-left: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fce3d4;
  font-size: 1.5em;
  line-height: 25px;
  font-weight: 400;
  text-align: left;
}

.image-12 {
  margin-top: 0vh;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  border-radius: 20px;
}

.div-block-5 {
  margin-left: 0px;
}

.div-block-6 {
  margin-right: 0px;
}

.button-2 {
  border-radius: 8px;
  background-color: #fce3d4;
  color: #000;
  font-weight: 600;
}

.div-block-7 {
  -o-object-fit: fill;
  object-fit: fill;
}

.text-block-2 {
  margin-top: 41px;
  color: #fce3d4;
  font-size: 24px;
  font-weight: 600;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 3.4em;
  }

  .center-w3 {
    padding-right: 4vw;
    padding-left: 4vw;
  }

  .container-w1 {
    padding-right: 4vw;
    padding-left: 4vw;
  }

  .nav-link {
    font-size: 8vw;
  }

  .nav-link.btn {
    font-size: 4vw;
  }

  .nav-gradient-bg {
    background-image: radial-gradient(circle farthest-side at 0% 0%, #729fe9 5%, #ce99cc 34%, rgba(175, 112, 173, 0) 63%), radial-gradient(circle farthest-side at 100% 0%, #c03d5f 2%, rgba(232, 135, 151, 0.31) 31%, rgba(232, 135, 151, 0) 45%), radial-gradient(circle farthest-side at 0% 0%, #e04c73, rgba(248, 124, 98, 0) 30%), radial-gradient(circle farthest-side at 50% 100%, #ffdfab, #ffa675 43%, #f36f85);
  }

  .gutter-outside {
    padding-right: 4vw;
    padding-left: 4vw;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.5em;
  }

  .p-xl-start {
    padding-top: 6em;
  }

  .close-btn-wrapper {
    top: 20px;
    right: 23px;
    padding: 14px;
    font-size: 14px;
  }

  .p-xl-end {
    padding-bottom: 6em;
  }

  .logo {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 479px) {
  .center-w3 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .p-xl-start {
    padding-top: 5em;
  }

  .container-w1 {
    padding-right: 0vw;
    padding-left: 0vw;
  }

  .nav-link {
    font-size: 10vw;
  }

  .title2 {
    font-size: 2em;
  }

  .p-xl-end {
    padding-bottom: 5em;
  }

  .page-wrapper {
    height: 92vh;
    background-color: #fce3d4;
  }

  .gutter-outside {
    padding-right: 5vw;
    padding-left: 5vw;
  }

  .heading.pagehead {
    margin-top: 0px;
    margin-right: 16px;
    margin-left: 16px;
  }

  .text-block {
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .body {
    background-color: #000;
  }

  .grid {
    grid-row-gap: 15px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 0.75fr;
    grid-template-rows: 1fr 0.75fr;
  }

  .heading-4 {
    text-align: center;
  }

  .heading-5 {
    text-align: center;
  }

  .heading-6 {
    text-align: center;
  }

  .list {
    padding-left: 0px;
  }

  .div-block.shader {
    width: 85%;
  }

  .div-block-2 {
    background-size: contain;
  }

  .div-block-3 {
    background-size: contain;
  }

  .heading-7 {
    margin-left: 40px;
  }

  .icon-2 {
    display: none;
  }

  .icon-3 {
    display: none;
  }

  .image-9 {
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    max-width: 100vw;
    min-height: 92vh;
    min-width: 100vw;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .paragraph {
    display: none;
    overflow: visible;
  }

  .image-10 {
    right: 0%;
    max-width: none;
    min-height: 92vh;
  }

  .heading-8 {
    top: -5%;
    width: auto;
    max-height: none;
    font-size: 3em;
  }

  .grid-2 {
    -ms-grid-columns: minmax(auto, auto);
    grid-template-columns: minmax(auto, auto);
    -ms-grid-rows: minmax(auto, -webkit-min-content);
    -ms-grid-rows: minmax(auto, min-content);
    grid-template-rows: minmax(auto, -webkit-min-content);
    grid-template-rows: minmax(auto, min-content);
  }

  .image-11 {
    margin-top: 0vh;
  }

  .heading-10 {
    margin-top: 5vh;
  }

  .grid-3 {
    grid-column-gap: 16px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .paragraph-3 {
    text-align: left;
  }

  .image-12 {
    margin-top: -13vh;
  }
}

#w-node-_3dc00a16-a8fe-2d2c-bb7d-e814e6afb422-4ddcaca1 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_3b2d3d36-b823-9b30-e36f-b6d1a7ab76eb-4ddcaca1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-_9ec39b1a-6d0e-582c-058a-d080a7201a85-c2d2b727 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_9ec39b1a-6d0e-582c-058a-d080a7201a8e-c2d2b727 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-e129cf41-d8ab-3fdc-8461-5afabd2a7307-c2d2b727 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-e129cf41-d8ab-3fdc-8461-5afabd2a7310-c2d2b727 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_21ad72c7-890b-fe2a-6970-273e632eec98-c2d2b727 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_21ad72c7-890b-fe2a-6970-273e632eeca1-c2d2b727 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-aeab9106-8329-4ea8-eab9-b7e106ba1735-c2d2b727 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-aeab9106-8329-4ea8-eab9-b7e106ba173e-c2d2b727 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_02022557-4ab2-94cb-02ea-791fe0937b3b-c2d2b727 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_02022557-4ab2-94cb-02ea-791fe0937b46-c2d2b727 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-f3b5d8af-f0fd-3b3d-644e-0d58e3ddf0c8-c2d2b727 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-f3b5d8af-f0fd-3b3d-644e-0d58e3ddf0d1-c2d2b727 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_59b0db85-2154-738c-4425-2d969c6fe431-c2d2b727 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_52a202e1-0183-7212-cd3c-433948f8fc72-c2d2b727 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

@media screen and (max-width: 479px) {
  #w-node-_9ec39b1a-6d0e-582c-058a-d080a7201a85-c2d2b727 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-e129cf41-d8ab-3fdc-8461-5afabd2a7307-c2d2b727 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_21ad72c7-890b-fe2a-6970-273e632eec98-c2d2b727 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-aeab9106-8329-4ea8-eab9-b7e106ba1735-c2d2b727 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_02022557-4ab2-94cb-02ea-791fe0937b3b-c2d2b727 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-f3b5d8af-f0fd-3b3d-644e-0d58e3ddf0c8-c2d2b727 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_59b0db85-2154-738c-4425-2d969c6fe431-c2d2b727 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

